# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# MLflow logs & database
mlruns/
mlflow.db

# Model weights (optional 제외 가능)
*.pth
*.pt
*.onnx

# Temporary folders
temp_train/

# Mac OS
.DS_Store

# Jupyter
.ipynb_checkpoints/
