# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# MLflow logs & database
mlruns/
mlflow.db

# Model weights (choose one)
# If you want to ignore trained models:
*.pth
*.pt
*.onnx

# Temporary folders
temp_train/
output/

# Mac OS
.DS_Store

# Jupyter
.ipynb_checkpoints/
